<!-- Adding ng-template and a placeholder directive is a way of adding a dynamic (programmatic) component -->
<ng-template appPlaceholder></ng-template>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">

    <!-- <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div> -->

    <!-- Following is the most convenient way of displaying the alert component based on the condition *ngIf="error" (declarative approach)
      This approach should be used in most of the cases unless it is absolutely necessary to use dynamic (programmatic) components (imperative approach)
    -->
    <!-- <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHanldeError()"
    ></app-alert> -->

    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Log In" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{ !isLoginMode ? "Log In" : "Sign Up" }}
        </button>
      </div>
    </form>
  </div>
</div>
